*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.chennai{
    background-color: beige;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.logo{
    padding: 20px;
}
.links a{
    padding: 20px;
    text-decoration: none;
    color: white;
}


.Companies{
    margin: 50px;
}
.Companies h2{
    padding: 10px;
}
.Companies ul{
    padding-left: 35px;
}
.Companies p {
    padding: 20px;
    text-align: justify;
}

.robotics{
   margin: 50px;
}
.robotics p{
    padding: 20px;
    text-align: justify;
}



.kerala{
    background-color: rgba(30, 102, 30, 0.658);
}
.festivals{
    margin: 50px;
}
.festivals h2{
    padding: 10px;
}
.festivals p{
    padding: 20px;
    text-align: justify;
}

.tourism{
    margin: 50px;
}
.tourism h2{
    padding: 10px;
}
.tourism p{
    padding: 20px;
    text-align: justify;
}

.place{
    margin: 50px;
}

.place h2{
    padding: 10px;
}
.place ul{
    padding-left: 35px;
}

.karnataka{
    background-color: rgba(67, 25, 107, 0.363);
}

.cinemas{
    margin: 50px;
}
.cinemas h2{
    padding: 10px;
}
.cinemas p{
    padding: 20px;
    text-align: justify;
}

.lovemovies{
    margin: 50px;
}

.lovemovies h2{
    padding: 10px;
}

.lovemovies p{
    padding: 20px;
    text-align: justify;
}

.actionmovie{
    margin: 50px;
}

.actionmovie h2{
    padding: 10px;
}

.actionmovie p{
    text-align: justify;
    padding: 20px;
}

.mostwatch{
    margin: 50px;
}

.mostwatch h2{
    padding: 10px;
}
.mostwatch p{
    text-align: justify;
    padding: 20px;
}

.traditional{
    margin: 50px;
}

.traditional h2{
    padding: 10px;
}
.traditional p{
    text-align: justify;
    padding: 20px;
}