*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:  Roboto Condensed, Helvetica, sans-serif;

}
.navbar{
    background-color: #fff;
    display: flex;
    gap: 90px;
    width: 1366px;
    height: 60px;
    align-items: center;
    padding: 10px 40px;
    font-family:  Roboto Condensed, Helvetica, sans-serif;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.nav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 20px;

}
.logo a{
    text-decoration: none;
}
.logo h3{
    color: #000;
    font-family:  Roboto Condensed, Helvetica, sans-serif;
    cursor: pointer;

}


.nav a:hover{
    outline: 1px solid #fff;
    color: #fff;
    background-color: #195328;
    transition: 0.2s ;
    border-radius: 2px;

}
