 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("https://picsum.photos/1200/800");
      background-size: cover;
      background-position: center;
    }

    .box {
      background: rgba(255, 255, 255, 0.8); /* semi-transparent white */
      padding: 40px;
      border-radius: 10px;
      text-align: center;
      width: 300px;
    }

    .box h1 {
      font-size: 2rem; /* uses rem */
      margin-bottom: 20px;
    }

    .box p {
      font-size: 1em; /* depends on parent font */
    }
    .navbar{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;

}
.nav{
    display: flex;
    gap: 20px;
}

.nav a{
    text-decoration: none;
    color: white;
}
.logo{
    display: flex;
    gap: 20PX;
}
.logo h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}

.logo img{
    height: 30px;
    width: 40px;
}

.signin a{
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 900;
}